// Icons
.i-it {background: url(../img/svg/i-it.svg) center/contain no-repeat;}
.i-discount {background: url(../img/svg/i-discount.svg) center/contain no-repeat;}
.i-calendar {background: url(../img/svg/i-calendar.svg) center/contain no-repeat;}
.i-identification {background: url(../img/svg/i-identification.svg) center/contain no-repeat;}
.i-vk {background: url(../img/svg/i-vk.svg) center/contain no-repeat;}
.i-tg {background: url(../img/svg/i-tg.svg) center/contain no-repeat;}
.i-ok {background: url(../img/svg/i-ok.svg) center/contain no-repeat;}