// Modal
.modal {
  z-index: 99;
  display: none;
  position: fixed;
  overflow-y: auto;
  background: rgba(0, 0, 0, .7);
  top: 0;left: 0;right: 0;bottom: 0;
  &__box {
    padding: 32px;
    background: $white;
    position: relative;
    border-radius: $br-8;
    max-width: 888px;width: 98%;
  }
  .stars {
    margin-bottom: 32px;
    &__rating {
      font-size: $fz-16;
    }
  }
  &__form {
    .check, .btn {
      margin-top: 32px;
    }
    .btn {
      max-width: 200px;width: 100%;
    }
  }
}

.fullScreen {
  padding: 50px 0;
  min-height: 100%;
}

// Media max
@media (max-width: $md) {
  .modal {
    top: 50px;
    z-index: 20;
    background: $white;
    &__box {
      width: 100%;
      padding: 16px;
    }
    .title {
      margin-bottom: 32px;
    }
    &__form {
      .btn {
        max-width: 100%;
      }
    }
  }
  .fullScreen {
    padding: 20px 0 15px;
  }
}

@media (max-width: $mob-x) {
  .modal {
    .title {
      h2 {
        font-size: 17px;
      }
    }
  }
}