// Fonts
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Unbounded', sans-serif;

$regular: 400;
$medium: 500;
$semibold: 600;

// Size
$fz-10: 10px;
$fz-11: 11px;
$fz-12: 12px;
$fz-13: 13px;
$fz-14: 14px;
$fz-15: 15px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-22: 22px;
$fz-24: 24px;
$fz-30: 30px;
$fz-36: 36px;

// Radius
$br-3: 3px;
$br-4: 4px;
$br-6: 6px;
$br-8: 8px;
$br-10: 10px;
$br-12: 12px;
$br-16: 16px;
$br-20: 20px;
$br-32: 32px;
$br-40: 40px;

// Colors
$white: #fff;
$black: #000;

$primary: #25224A;
$secondary: #6F7A90;
$accent: #3286EE;
$accent-hover: #56A2FF;
$stroke-soft: #EFF5FB;
$stroke-hard: #DFE8F2;
$surface-primary: #EFF6FE;
$surface-secondary: #EEE7FF;
$surface-tertiary: #FFFADD;
$surface-quatery: #E1F8F4;
$success: #73D29F;
$danger: #F48383;
$warning: #F5BA74;

$error-form: rgba(217, 21, 40, 0.15);
$gray: #EAEEF5;
$grayDark: #9FA3AB;
$red: #EF6060;

// Media
$xl: 1199px;
$lg: 991px;
$md: 767px;
$mob: 479px;
$mob-x: 374px;

$min-xl: 1200px;
$min-lg: 992px;
$min-md: 768px;
$min-mob: 480px;
$min-mob-x: 375px;
